Django==6.1
djangorestframework==3.18.0
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
Pillow==12.3.0
psycopg[binary]==3.3.5
python-dotenv==1.2.2
firebase-admin==7.1.0
jdatetime==5.2.0
jalali-core==1.0.0
cryptography>=41.0.7,<52
qrcode[pil]==8.2
gunicorn==23.0.0
